<div class="col col-md-8 col-md-offset-2">
<h2 class="text-center">Rantr is the easiest way to post long tweets. <br /><br />Just <a href="/auth/twitter">LOGIN</a>, type your thoughts, and rant!</h2>

<br />
<br />
<br />
<br />
<br />
<h4 class="text-center">Made with &#9829; by <a target="_blank" href='https://twitter.com/gravescollin'>@gravescollin</a> in about 20 minutes.</h4>
</div>
